{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="size-form mx-auto p-3 rounded-xl text-theme-blue m-4 shadow-2xl font-semibold">
        {{ form_start(form) }}
        {% if errors %}
        <div> {{ errors }}</div>
        {% endif %}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        <div class="flex justify-between grid grid-cols-1 md:grid-cols-2 md:gap-4 ">
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        </div>
        {{ form_row(form.dateNaissance,{'attr' : { 'class' : ''}} ) }}
        {{ form_row(form.adresse.rue) }}
        <div class="flex justify-between grid grid-cols-1 md:grid-cols-2 md:gap-4 ">
            {{ form_row(form.adresse.codePostal) }}
            {{ form_row(form.adresse.ville) }}
        </div>
        {{ form_row(form.sauvegarder, {'attr' : { 'class' : 'bg-theme-blue rounded-full'}}) }}
        {{ form_end(form) }}


    </div>
{% endblock %}
