<div class=" border rounded-md md:flex flex-col shadow-xl bg-white w-1/2 lg:w-1/5 m-3" id="livre-{{ livre.id }}">
    {% if livre.filename %}
        <div class=" mx-auto"><img class="rounded-t-md" src="/images/livres/{{ livre.filename }}"
                                   alt="livre images"></div>
    {% else %}
        <div ><img class=" mx-auto rounded-t-md" src="/images/livres/empty_livre.jpg" alt="livre images">
        </div>
    {% endif %}
    <div class="text-theme-blue text-lg font-semibold mx-auto px-2 text-center">{{ livre.titre }} </div>
    <div class="text-theme-blue italic mx-auto p-2 size-description text-center">{{ livre.auteur.nom }} {{ livre.auteur.prenom }}</div>
    <div class="text-xs font-extralight p-2"> {{ livre.dateParution  | date("d/m/Y") }}</div>
    <div class="px-2">
        <hr>
        <p class="text-center"> {{ livre.description }}
        </p>
        <div> <span class="rounded-full text-xs font-extralight bg-theme-blue px-2">{{ livre.genre.nom }}</span></div>
    </div>
    {% if livre.statut == 'dispo' %}
        <div class="flex justify-around content-center m-3">
            <div>
                <svg class="h-4 w-4 text-green-500">
                    <circle cx="6" cy="6" r="6" fill="currentColor" />
                </svg>
            </div>
            <div>
                <a class=" rounded-xl bg-theme-purple text-white mb-2 mx-auto hover:text-white hover:bg-purple-900 p-2"
                    href="{{ path('user_reserve', {'id' : livre.id}) }}"
                >
                    Réserver
                </a>
            </div>
        </div>
    {% else %}
        <div class="mx-auto">
            <svg class="h-4 w-4 text-red-500">
                <circle cx="6" cy="6" r="6" fill="currentColor" />
            </svg>
        </div>
    {% endif %}
</div>