{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <h1>Livre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>DateParution</th>
                <th>Image</th>
                <th>Description</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.dateParution }}</td>
                <td>{{ livre.filename }}</td>
                <td>{{ livre.description }}</td>
                <td>{{ livre.statut }}</td>
                <td>
                    <a href="{{ path('livre_edit', {'id': livre.id}) }}">edit</a>
                    {{ include('admin/livre/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('livre_new') }}">Create new</a>
{% endblock %}
